[Desktop Entry]
Name=displaz
Exec=com.fugro.roames.displaz
Type=Application
Icon=com.fugro.roames.displaz
Categories=Qt;Education;Science;Geography;
Keywords=point cloud;LIDAR;viewer